body {
  margin: 0;

  background-color: var(--primary-color);
  color: var(--third-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.08em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

img {
  display: block;
  // width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.accent {
  color: var(--accent);
}

// Weight 800, 500 700, 600
// Size 12px 20px 14px 5px 26

// line height 1.57 1,22 1,64 1.3 1,71 1,43 1,67 2 1,35 1,25 1,2 1.8
// letter spacing 0.08 0.03 0.06 0.18 0.14
