:root {
    --primary-color: #ffffff;
    --secondary-color: #B9B9B9;
    --third-color: #111518;
    --secondary-bg-color: #F1F1F1;
    --secondary-text-color: #3D3D3D;
    --accent: #FF6B09;

    //SLIDER VARIABLES
    --navigation-icon-width: 54px;
    --card-photo-mob-width: 90px;
    --card-photo-width: 150px;
    --arrow-width: 27px;
    --arrow-height: 16px;
    //-----------------

    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}