<section class="section about">
  <div class="container">
    <h2 class="section__title about__title" id="about">Teacher</h2>
    <div class="about__wrapper">
      <picture>
        <source
          srcset="
            ./images/css/desktop/elena-morozova-desktop.webp    1x,
            ./images/css/desktop/elena-morozova-desktop@2x.webp 2x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/css/tablet/elena-morozova-tablet.webp    1x,
            ./images/css/tablet/elena-morozova-tablet@2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/css/mobile/elena-morozova-mobile.webp    1x,
            ./images/css/mobile/elena-morozova-mobile@2x.webp 2x
          "
          media="(max-width: 767px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/css/desktop/elena-morozova-desktop.jpg    1x,
            ./images/css/desktop/elena-morozova-desktop@2x.jpg 2x
          "
          media="(min-width: 1200px)"
          type="image/jpg"
        />
        <source
          srcset="
            ./images/css/tablet/elena-morozova-tablet.jpg    1x,
            ./images/css/tablet/elena-morozova-tablet@2x.jpg 2x
          "
          media="(min-width: 768px)"
          type="image/jpg"
        />
        <source
          srcset="
            ./images/css/mobile/elena-morozova-mobile.jpg    1x,
            ./images/css/mobile/elena-morozova-mobile@2x.jpg 2x
          "
          media="(max-width: 767px)"
          type="image/jpg"
        />

        <img
          class="about__teacher-img"
          src="./images/css/mobile/elena-morozova-mobile.jpg"
          alt="Фото учителя"
        />
      </picture>
      <div class="teacher__wrapper">
        <h3 class="about__teacher">Elena Moreva</h3>
        <ul class="about__list">
          <li class="about__item">
            <p class="about__description">6 years of experience in preparing students for UPE</p>
          </li>
          <li class="about__item">
            <p class="about__description">
              Own result of passing VNO - 197 points 2 years in a row
            </p>
          </li>
          <li class="about__item">
            <p class="about__description">
              Passed excellent at the international analogue of UPE - <br />
              Cambridge PET (Preliminary English Test)
            </p>
          </li>
        </ul>
        <p class="teacher__education dash">
          Graduated from the Institute of International Relations of the NAU with a degree in
          translator-analyst.
        </p>
        <p class="teacher__education">
          In spare time takes courses from the best universities in the world on effective teaching
          and essay writing techniques.
        </p>
        <p class="teacher__education">
          Completed: English Grammar and Essay Writing (Berkeley), English Grammar & Style (The
          University of Queesland), How to Write an Essay (Berkeley), Academic and Business Writing
          (Berkeley), The Art of Teaching (GEMS education), Powerful Tools for Teaching and Learning
          (University of Houston).
        </p>
        <a href="" class="about__link">Cambridge English Entry Level Certificate</a>
      </div>
    </div>
  </div>
</section>
