<section class="advantages section">
  <div class="container">
    <div class="advantages__inner">
      <h2 class="section__title visually-hidden">Advantages</h2>
      <h3 class="advantages__title advantages__title--number-1">
        Adapted author's<br class="advantages__br" />
        UPE program
      </h3>
      <h3 class="advantages__title advantages__title--number-2">
        Modern<br class="advantages__br" />
        teaching methods
      </h3>
      <h3 class="advantages__title advantages__title--number-3">
        Financial guarantee<br class="advantages__br" />
        the result
      </h3>
    </div>
  </div>
</section>
