<section class="section request">
  <div class="container">
    <b class="request__label"
      >Registration for a <span class="accent">free</span> phone
      <span class="accent">consultation</span> on the nuances of English UPE</b
    >
    <p class="request__text">
      Leave a request for participation in a
      <span class="accent">free lesson</span>.</br>
    A consultant will contact you and answer your questions</p>
    <form class="request__form">
      <input class="request__input" type="text" name="person-phone" placeholder="Name*" required />
      <input class="request__input" type="text" name="person-phone" placeholder="Phone*" required />
      <button class="request__button" type="submit">I want a free lesson</button>
    </form>
  </div>
</section>
