<footer class="footer">
  <div class="container footer__container">
    <div class="logo logo--footer">
      <a href="/">
        <p class="logo__primary-text">
          Hell<svg class="logo__icon">
            <use href="/images/css/icons.svg#icon-fire"></use></svg
          >EN
        </p>
        <p class="logo__secondary-text">
          Hellish<span class="logo__secondary-text logo__secondary-text--accent"> English</span>
        </p></a
      >
    </div>
    <div class="contacts">
      <a class="contacts__phone" href="tel:+380000000000"
        ><svg class="contacts__phone-icon">
          <use href="/images/css/icons.svg#icon-phone"></use>
        </svg>
        +38 (000) 000 00 00</a
      >
      <a class="contacts__social" href="https://www.instagram.com/" target="_blank">
        <img class="contacts__social-icon" src="/images/css/instagram.png" alt="instagram icon"
      /></a>
    </div>
  </div>
  <div class="footer__box-inner">
    <p class="footer__copyright">@ All rights reserved, 2019</p>
  </div>
</footer>
