<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="container logo-container">
        <a href=" ">
          <p class="logo__primary-text">
            Hell<svg class="logo__icon" width="14" height="19">
              <use href="/src/images/css/icons.svg#icon-fire"></use>
            </svg>
            EN
          </p>
          <p class="logo__secondary-text">
            Hellish<span class="logo__secondary-text logo__secondary-text--accent"> English</span>
          </p></a
        >
        <button type="button">
          <svg>
            <use href="/src/images/css/icons.svg#"></use>
          </svg>
        </button>
      </div>
    </header>
  </body>
</html>
