<section class="hero hero__section container">
  <div class="hero__section--beackraund">
    <picture>
      <source media="(min-width: 1680px )" srcset=".\images\beackraund-hero-desktop.png" />
      <source media="(min-width: 768px )" srcset=".\images\beackraund-hero-tablet.png" />
      <source media="(max-width: 767px )" srcset=".\images\beackraund-hero.png" />
      <img class="beackraund-hero" src="./images/beackraund-hero.png" alt="" />
    </picture>
    <div class="hero__section--discription">
      <h1 class="hero__section--discription--header">Complex preparation for English UPE</h1>
      <p class="hero__section--discription--paragraph">
        <span class="paragraph paragraph-color-1">It won’t be easy.</span>
        <span class="paragraph paragraph-color-2">But you’re guaranteed to get</span>
        <span class="paragraph paragraph-color-3">+25 points</span>
      </p>
      <button type="button" class="hero__section--button">I want a free lesson</button>
    </div>
    <div class="hero__foto">
      <picture class="hero__foto-1">
        <source
          class=""
          media="(min-width: 1680px )"
          srcset="./images/Ellipse-desktop-1.webp 1x, ./images/Ellipse-desktop-1@2x.webp 2x"
          type="image/webp"
        />
        <source
          class=""
          media="(min-width: 1680px )"
          srcset="./images/Ellipse-desktop-1.png 1x, ./images/Ellipse-desktop-1@2x.png 2x"
        />
        <source
          class=""
          media="(min-width: 768px )"
          srcset="./images/Ellipse-tablet-1.webp 1x, ./images/Ellipse-tablet-1@2x.webp 2x"
          type="image/webp"
        />
        <source
          class=""
          media="(min-width: 768px )"
          srcset="./images/Ellipse-tablet-1.png 1x, ./images/Ellipse-tablet-1@2x.png 2x"
        />
        <source
          class=""
          media="(max-width: 767px )"
          srcset="./images/Ellipse-1.webp 1x, ./images/Ellipse-1@2x.webp 2x"
          type="image/webp"
        />
        <source
          class=""
          media="(max-width: 767px )"
          srcset="./images/Ellipse-1.png 1x, ./images/Ellipse-1@2x.png 2x"
        />
        <img class="" src="../src/images/Ellipse-1.png" alt="" />
      </picture>
      <picture class="hero__foto-2">
        <source
          class=""
          media="(min-width: 1680px )"
          srcset="./images/Ellipse-desktop-2.webp 1x, ./images/Ellipse-desktop-2@2x.webp 2x"
          type="image/webp"
        />
        <source
          class=""
          media="(min-width: 1680px )"
          srcset="./images/Ellipse-desktop-2.png 1x, ./images/Ellipse-desktop-2@2x.png 2x"
        />
        <source
          class=""
          media="(min-width: 768px )"
          srcset="./images/Ellipse-tablet-2.webp 1x, ./images/Ellipse-tablet-2@2x.webp 2x"
          type="image/webp"
        />
        <source
          class=""
          media="(min-width: 768px )"
          srcset="./images/Ellipse-tablet-2.png 1x, ./images/Ellipse-tablet-2@2x.png 2x"
        />
        <source
          class=""
          media="(max-width: 767px )"
          srcset="./images/Ellipse-2.webp 1x, ./images/Ellipse-2@2x.webp 2x"
          type="image/webp"
        />
        <source
          class=""
          media="(max-width: 767px )"
          srcset="./images/Ellipse-2.png 1x, ./images/Ellipse-2@2x.png 2x"
        />
        <img class="" src="../src/images/Ellipse-2.png" alt="" />
      </picture>
    </div>
  </div>
</section>
