<section class="section program">
    <div class="container">
        <h2 class="program__title">Our program</h2>
        <ul class="program__list">
            <li class="program__item">
                <h3 class="program__subtitle">1 semester</h3>
                <ul class="semester-program">
                    <li class="semester-program__item">
                        <h4 class="semester-program__title">— Grammar</h4>
                        <ul>
                            <li class="semester-program__inner">
                                <p class="semester-program__description">Nouns & Articles Adjectives & Adverb</p>
                            </li>
                        </ul>
                    </li>
                    <li class="semester-program__item">
                        <h4 class="semester-program__title">— Vocabulary</h4>
                        <ul>
                            <li class="semester-program__inner">
                                <p class="semester-program__description">Family & Relations People & Society</p>
                            </li>
                        </ul>
                    </li>
                </ul>

            </li>
            <li class="program__item">
                <h3 class="program__subtitle">2 semester</h3>
                <ul class="semester-program">
                    <li class="semester-program__item">
                        <h4 class="semester-program__title">— Grammar</h4>
                        <ul>
                            <li class="semester-program__inner">
                                <p class="semester-program__description">Pronouns Active Voice Passive Voice</p>
                            </li>
                        </ul>
                    </li>
                    <li class="semester-program__item">
                        <h4 class="semester-program__title">— Vocabulary</h4>
                        <ul>
                            <li class="semester-program__inner">
                                <p class="semester-program__description">Home School Work</p>
                            </li>
                        </ul>
                    </li>
                </ul>

            </li>
            <li class="program__item">
                <h3 class="program__subtitle">3 semester</h3>
                <ul class="semester-program">
                    <li class="semester-program__item">
                        <h4 class="semester-program__title">— Grammar</h4>
                        <ul>
                            <li class="semester-program__inner">
                                <p class="semester-program__description">Modal verbs Infinitive Gerund Participle: 1, 2</p>
                            </li>
                        </ul>
                    </li>
                    <li class="semester-program__item">
                        <h4 class="semester-program__title">— Vocabulary</h4>
                        <ul>
                            <li class="semester-program__inner">
                                <p class="semester-program__description">Travel & Tourism Culture & Free Time Sport</p>
                            </li>
                        </ul>
                    </li>
                    <li class="semester-program__item">
                        <h4 class="semester-program__title">— Writing</h4>
                        <ul>
                            <li class="semester-program__inner">
                                <p class="semester-program__description">Informal Letter</p>
                            </li>
                        </ul>
                    </li>
                </ul>

            </li>
            <li class="program__item">
                <h3 class="program__subtitle">4 semester</h3>
                <ul class="semester-program">
                    <li class="semester-program__item">
                        <h4 class="semester-program__title">— Grammar</h4>
                        <ul>
                            <li class="semester-program__inner">
                                <p class="semester-program__description">Clauses: Conditional and Wishes Direct / Reported speech Preposition Conjunction
                                    Numeral</p>
                            </li>
                        </ul>
                    </li>
                    <li class="semester-program__item">
                        <h4 class="semester-program__title">— Vocabulary</h4>
                        <ul>
                            <li class="semester-program__inner">
                                <p class="semester-program__description">Healthy Living Nature & Environment Money</p>
                            </li>
                        </ul>
                    </li>
                    <li class="semester-program__item">
                        <h4 class="semester-program__title">— Writing</h4>
                        <ul>
                            <li class="semester-program__inner">
                                <p class="semester-program__description">Formal Letter</p>
                            </li>
                        </ul>
                    </li>
                </ul>

            </li>
            <li class="program__item">
                <h3 class="program__subtitle">5 semester</h3>
                <ul class="semester-program">
                    <li class="semester-program__item">
                        <h4 class="semester-program__title">-</h4>
                        <ul>
                            <li class="semester-program__inner">
                                <p class="semester-program__description">Revision Tests</p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>