
<section class="section program">
    <div class="container program__container">
        <h2 class="program__title" id="programs">Our program</h2>
        <ul class="program__list">
            <li class="program__item">
                <h3 class="program__subtitle">1 semester</h3>
                <ul class="semester-program">
                    <li class="semester-program__item">
                        <h4 class="semester-program__title">Grammar</h4>
                        <ul class="semester-program__list">
                            <li class="semester-program__inner">
                                <p class="semester-program__description">Nouns & Articles</p>
                            </li>
                            <li class="semester-program__inner">
                                <p class="semester-program__description">Adjectives & Adverb</p>
                            </li>
                        </ul>
                    </li>
                    <li class="semester-program__item">
                        <h4 class="semester-program__title">Vocabulary</h4>
                        <ul class="semester-program__list">
                            <li class="semester-program__inner">
                                <p class="semester-program__description">Family & Relations</p>
                            </li>
                            <li class="semester-program__inner">
                                <p class="semester-program__description">People & Society</p>
                            </li>
                        </ul>
                    </li>
                </ul>

            </li>
            <li class="program__item">
                <h3 class="program__subtitle">2 semester</h3>
                <ul class="semester-program">
                    <li class="semester-program__item">
                        <h4 class="semester-program__title">Grammar</h4>
                        <ul class="semester-program__list">
                            <li class="semester-program__inner">
                                <p class="semester-program__description">Pronouns</p>
                            </li>
                            <li class="semester-program__inner">
                                <p class="semester-program__description">Active Voice</p>
                            </li>
                            <li class="semester-program__inner">
                                <p class="semester-program__description">Passive Voice</p>
                            </li>
                        </ul>
                    </li>
                    <li class="semester-program__item">
                        <h4 class="semester-program__title">Vocabulary</h4>
                        <ul class="semester-program__list">
                            <li class="semester-program__inner">
                                <p class="semester-program__description">Home</p>
                            </li>
                            <li class="semester-program__inner">
                                <p class="semester-program__description">School</p>
                            </li>
                            <li class="semester-program__inner">
                                <p class="semester-program__description">Work</p>
                            </li>
                        </ul>
                    </li>
                </ul>

            </li>
            <li class="program__item">
                <h3 class="program__subtitle">3 semester</h3>
                <ul class="semester-program">
                    <li class="semester-program__item">
                        <h4 class="semester-program__title">Grammar</h4>
                        <ul class="semester-program__list">
                            <li class="semester-program__inner">
                                <p class="semester-program__description">Modal verbs</p>
                            </li>
                            <li class="semester-program__inner">
                                <p class="semester-program__description">Infinitive</p>
                            </li>
                            <li class="semester-program__inner">
                                <p class="semester-program__description">Gerund</p>
                            </li>
                            <li class="semester-program__inner">
                                <p class="semester-program__description">Participle: 1, 2</p>
                            </li>
                        </ul>
                    </li>
                    <li class="semester-program__item">
                        <h4 class="semester-program__title">Vocabulary</h4>
                        <ul class="semester-program__list">
                            <li class="semester-program__inner">
                                <p class="semester-program__description">Travel & Tourism</p>
                            </li>
                            <li class="semester-program__inner">
                                <p class="semester-program__description">Culture & Free Time</p>
                            </li>
                            <li class="semester-program__inner">
                                <p class="semester-program__description">Sport</p>
                            </li>
                        </ul>
                    </li>
                    <li class="semester-program__item">
                        <h4 class="semester-program__title">Writing</h4>
                        <ul class="semester-program__list">
                            <li class="semester-program__inner">
                                <p class="semester-program__description">Informal Letter</p>
                            </li>
                        </ul>
                    </li>
                </ul>

            </li>
            <li class="program__item">
                <h3 class="program__subtitle">4 semester</h3>
                <ul class="semester-program">
                    <li class="semester-program__item">
                        <h4 class="semester-program__title">Grammar</h4>
                        <ul class="semester-program__list">
                            <li class="semester-program__inner">
                                <p class="semester-program__description">Clauses: Conditional and Wishes</p>
                            </li>
                            <li class="semester-program__inner">
                                <p class="semester-program__description">Direct / Reported speech</p>
                            </li>
                            <li class="semester-program__inner">
                                <p class="semester-program__description">Preposition</p>
                            </li>
                            <li class="semester-program__inner">
                                <p class="semester-program__description">Conjunction Numeral</p>
                            </li>
                            <li class="semester-program__inner">
                                <p class="semester-program__description">Numeral</p>
                            </li>
                        </ul>
                    </li>
                    <li class="semester-program__item">
                        <h4 class="semester-program__title">Vocabulary</h4>
                        <ul class="semester-program__list">
                            <li class="semester-program__inner">
                                <p class="semester-program__description">Healthy Living</p>
                            </li>
                            <li class="semester-program__inner">
                                <p class="semester-program__description">Nature & Environment</p>
                            </li>
                            <li class="semester-program__inner">
                                <p class="semester-program__description">Money</p>
                            </li>
                        </ul>
                    </li>
                    <li class="semester-program__item">
                        <h4 class="semester-program__title">Writing</h4>
                        <ul class="semester-program__list">
                            <li class="semester-program__inner">
                                <p class="semester-program__description">Formal Letter</p>
                            </li>
                        </ul>
                    </li>
                </ul>

            </li>
            <li class="program__item">
                <h3 class="program__subtitle">5 semester</h3>
                <ul class="semester-program">
                    <li class="semester-program__item">
                        <div class="pseudo-wrapper"><p class="semester-program__title"></p></div>
                        <ul class="semester-program__list">
                            <li class="semester-program__inner">
                                <p class="semester-program__description">Revision</p>
                            </li>
                            <li class="semester-program__inner">
                                <p class="semester-program__description">Tests</p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>