.about__title {
  text-align: left;
}

.about__teacher-img {
  width: 86.7%;
  margin-bottom: 20px;
}

.about__teacher {
  font-size: 20px;
  line-height: 1.21;
  margin-bottom: 14px;
}

.about__teacher::after {
  content: '';
  display: block;
  position: relative;
  left: 0;
  width: 100%;
  height: 1px;
  top: 8px;
  background-color: var(--secondary-color);
}

.about__description {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.22;
  letter-spacing: 0.06em;
  color: var(--third-color);
}
.about__list {
  margin-bottom: 60px;
}

.about__item {
  margin-left: 27px;

  line-height: 1.21;
  letter-spacing: 0.06em;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.about__item::before {
  content: '';
  display: block;
  position: relative;
  top: 14px;
  right: 26px;
  width: 14px;
  height: 17.08px;
  background-size: cover;
  background-image: url(/images/css/check.svg);
}

.dash::before {
  content: '';
  display: block;
  position: relative;
  bottom: 24px;
  left: 0;
  width: 20px;
  height: 1px;
  background-color: var(--accent);
}

.teacher__education {
  font-weight: 500;
  color: var(--secondary-color);

  text-align: left;
  letter-spacing: 0;
}

.about__link {
  display: block;
  text-decoration-line: underline;
  color: var(--accent);

  letter-spacing: 0;
  margin-top: 8px;
}

/* _______TABLET___________ */

@media screen and (min-width: 768px) {
  .about__wrapper {
    display: flex;
  }

  .about__teacher-img {
    width: 80.1%;
    margin-right: 60px;
    margin-bottom: 0;
  }

  .teacher__wrapper {
    width: 57%;
  }

  .about__teacher {
    margin-bottom: 10px;
}

  .about__description {
    font-size: 12px;
    line-height: 1.25;
  }

  .about__link {
    margin-top: 24px;
  }
}

/* ______DESKTOP___________ */

@media screen and (min-width: 1680px) {
  .about__teacher {
    font-size: 30px;
    top: 16px;
  }

  .about__teacher-img {
    width: 75.5%;
    margin-right: 172px;
    margin-bottom: 0;
  }

  .about__wrapper {
    width: 83%;
  }

  .about__item {
    margin-left: 59px;
  }

  .about__item::before {
    width: 24.4px;
    height: 20px;

    top: 20px;
    right: 59px;
  }

  .about__description {
    font-size: 16px;
    line-height: 1.25;
  }

  .about__list {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.06em;
    margin-bottom: 90px;
  }

  .teacher__wrapper {
    width: 48.8%;
  }

  .teacher__education {
    font-size: 18px;
    line-height: 1.56;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  .teacher__education:last-child {
    margin-bottom: 40px;
  }

  .about__link {
    font-size: 18px;
    line-height: 1.55;
    margin-top: 40px;
  }
}

