.advantages {

    &__list {
        padding-top: 12px;
        padding-bottom: 13px;
    }

    &__title {
        position: relative;
        font-weight: 700;
        line-height: 1.65;
        text-align: left;
        padding-left: 70px;
        
    }

    &__title::after {
        position: absolute;
        content: "";
        top: -3px;
        left: 61px;
        display: block;
        width: 5px;
        height: 46px;
        background-color: var(--primary-color);
    }

    %number {
        z-index: -1;
        position: absolute;
        top: -2px;
        left: 0;
        content: "";
        display: block;
        background-repeat: no-repeat;
        background-position: center center;
        border: 2px solid var(--accent);
    }

    &__title--number-1::before {
        background-image: url(/images/svg/student.svg);
        width: 33.19px;
        height: 40.08px;
        @extend %number;
    }

    &__title--number-2::before {
        background-image: url(/images/svg/mobile-learning.svg);
        width: 42px;
        height: 41.08px;
        @extend %number;
    }

    &__title--number-3::before {
        background-image: url(/images/svg/insurance.svg);
        width: 35px;
        height: 40.08px;
        @extend %number;
    }
}

@media screen and (max-width:767.98px) {
    .advantages {

        &__item:not(:last-child) {
            margin-bottom: 38px;
        }

        &__item:not(:first-child) {
            margin-top: 12px;
        }

        %number {
            transform: translateY(-15%);
        }
    }
}

@media screen and (min-width:768px) {
    .advantages {
        &__list {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        &__item {
            // width: 215px;
            margin: 0;
        }

        &__title--number-1::before {
            transform: translateY(-15%);
        }

        &__title--number-2::before,
        &__title--number-3::before {
            transform: translateY(-15%);
        }

    }
}

@media screen and (min-width:768px) and (max-width:1679.98px) {
    .advantages {
        &__list {
            margin-right: 8px;
            margin-left: 8px;
        }
    }
}

@media screen and (max-width:1679.98px) {
    .advantages {
        %number {
            padding: 30px;
        }
    }
}


@media screen and (min-width:1680px) {
    .advantages {

        &__list {
            padding-top: 23px;
            padding-bottom: 17px;
        }
        &__title {
            font-size: 20px;
            width: 448px;
            padding-left: 90px;
        }

        &__title::before {
            transform: translateY(-20%);
        }

        %number {
            padding: 51px 50px;
        }

        &__title::after {
            z-index: -1;
            top: -3px;
            left: 100px;
            height: 70px;
        }
    }
}