.section__title {
    &--margins-for-slider-title {
        margin: 0px 20px 24px;
        @media screen and (min-width:1680px) {
            margin-bottom: 40px;
        }
    }  
}

.slider-container {
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width:1680px) {
       width: 1088px;  
    }
}
// конетейнер для одиночной карточки в слайдере
.slider-single {
    @media screen and (min-width:768px) {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);    
    } 
    @media screen and (min-width:1680px) {
        box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);    
    } 
    
}
// CARD
.slick-slide.card {
    @media screen and (min-width:768px) {
        display: flex;  
        gap: 44px;  
        padding: 40px 50px;    
    }
    @media screen and (min-width:1680px) { 
        gap: 40px;  
        padding: 60px 111px 60px 81px;    
    }
}
.pictures-container {
    display: flex;
    flex-direction: column;
}
.card {
    &__img {
        margin: 0 auto;
        margin-bottom: 24px;
        width: var(--card-photo-mob-width);
        @media screen and (min-width:768px) {
            margin-bottom: 20px;
            width: var(--card-photo-width);
        }
        @media screen and (min-width:1680px) {
            margin-bottom: 8px;
        }

    }

    &__socialnetwork {
        display: inline-flex;
        justify-content: center;
        // &__container {
        //     margin: 0 auto;
        // }
        margin: 0 auto;
        
		cursor: pointer;
        margin-bottom: 24px;
        

        &__logo {
            transition: color var(--animation);
            color: #4267B2;
            fill: currentColor;
            
            display: block;
            margin: 0 auto;      
           //width: 30px;
           //height: 30px;
        }
        &:hover &__logo,
        &:focus &__logo{
         transition: color var(--animation);
         color: var(--accent);
         fill:currentColor;
        
        }
    }
    &__article {
        display: flex;
        flex-direction: column;
        gap: 16px;

        text-align: center;
        margin: 0px 20px;
        @media screen and (min-width:768px) {
            text-align: left;
            margin: 0px;
            gap: 20px;
        }
        @media screen and (min-width:1680px) {
            gap: 8px;
        }
        &__name {
            color: var(--accent);
            
            font-size: 14px;
            letter-spacing: 0.08em;
            vertical-align: Top;
            line-height: 1.214;
            font-weight: 800;
            @media screen and (min-width:768px) {
                font-size: 20px;
                line-height: 1.219;
            }
            @media screen and (min-width:1680px) {
                font-size: 30px;
            }
        }
        &__graduated {
            color: var(--secondary-color);
            font-size: 12px;
            letter-spacing: 0.08em;
            line-height: 1.219;
            font-weight: 500;
            @media screen and (min-width:1680px) {
                font-size: 14px;
                margin-bottom: 12px;
            }
        }
        &__text {
            color: var(--third-color);
            font-size: 12px;
            line-height: 1.666; 
            font-weight: 500;
            @media screen and (min-width:1680px) {
                font-size: 18px;
                line-height: 1.555; 
            }
        }
    }

}
.read-more-Btn {
    border: none;
    background-color: transparent;
    text-decoration: underline;
    padding: 0;
    color: var(--accent);
    cursor: pointer;


}

.slider-nav {

    width: 198px;
    margin: 40px auto 0px;
    @media screen and (min-width:400px) {
        width: 264px;  
    }

    @media screen and (min-width:480px) {
        width: 330px;  
    }
    @media screen and (min-width:768px) {
        margin-top: 20px;    
        width: 602px; 
    }
    @media screen and (min-width:1680px) {
       margin-top: 40px;
       width:658px;  
    }
    
}


.js .slider-single > div:nth-child(1n+2) { display: none }

.js .slider-single.slick-initialized > div:nth-child(1n+2) { display: block }


 .slider-nav .slick-track {
    display: flex;
    justify-content: center;
    gap: 12px;

     @media screen and (min-width:768px) {
         gap: 32px;
     }
     @media screen and (min-width:1680px) {
        gap: 40px;
    }
 }

.image-card {
    &__img {
        border-radius: 50%;
        width: var(--navigation-icon-width);
    }
    .is-active &__img {
        border: 3px solid var(--accent);
    }
}

.slick-arrow {
    width: var(--arrow-width);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    //border-radius: 50%;

    &::before {
        content: "";
    }
    z-index: 1;

    transition: background-color var(--animation);

    &:hover,&:focus{
        background-repeat: no-repeat;
        background-position: center;
    }

    &:not(.slick-disabled):hover,&:not(.slick-disabled):focus {
        
        
        background-color: rgba(#FF6B09, 0.2);
    }
    
}
.slick-arrow.slick-next {
    right: calc(-16px - var(--arrow-width));
    background-image: url(/images/css/arrow-right.svg);
    @media screen and (min-width:768px) {
        right:3px; 
    }
    @media screen and (min-width:1680px) {
        right: calc(-32px - var(--arrow-width)); 
    }
}
.slick-arrow.slick-prev {
    left: calc(-16px - var(--arrow-width));
    background-image: url(/images/css/arrow-left.svg);
    @media screen and (min-width:768px) {
        left:3px; 
    }
    @media screen and (min-width:1680px) {
        left: calc(-32px - var(--arrow-width)); 
    }
}

.slick-arrow.slick-disabled {
   opacity: 0.3;
}

.slider-nav .slick-slide { cursor: pointer; }
